---
import "../styles/global.css";
---

<html lang="en-GB">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Tam Builds Things</title>
	</head>
	<body
		class="flex min-h-screen items-center justify-center bg-[#ff10f0] text-black uppercase"
	>
		<h1 class="text-4xl font-bold tracking-wide md:text-6xl">
			Tam Builds Things
		</h1>
	</body>
</html>
